@model Petshop.Models.Servico

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>Servico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.animalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.animalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoServicoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoServicoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
